<div class="text-center">
    <h1 class="display-4">Hello Mi name is Rigoberto </h1>
   

    <h2>
        I'm a fullstack developer with technologies .Net y JS
    </h2>
    <img src="~/images/foto.png" alt="Portillo" class="foto" />
</div>
<div class="text-center">
    <img src="~/images/net.png" alt="Net images" class="dotnet" />
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 section-welcome">
        <h1>Welcome to my portfolio</h1>
        <p>
            I´m a junior software developer usign Vue, express and c#, if you wan to do something i can learn a new tecnology or i can use my current stack
        </p>

    </div>

</div>
