@model IEnumerable<Proyect>



@if (Model is not null)
{
    <div class="text-center" style="padding-top:6rem;">
        <h1>My recent jobs </h1>
        <p>Here you can se some of my recent jobs</p>
    </div>

    <partial name="_ListProyect" model="Model" />
}
