<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white disable-li " style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray; ">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                I work with orm deploys etc.
            </p>
            <p class="text-primary header">
                Stack:
            </p>
            <p>
                ASP.Net Core, Sql Server
                Expresss, NestJS
            </p>
            <p class="text-primary header">
                Experience:
            </p>
            <ul>
                <li>Web APIS</li>
                <li>ASP.Net Core MVC</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries</li>
                <li>SOLID</li>
            </ul>
        </div>
        <div class="col col-3 bg-white disable-li " style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray; ">
            <i class="bi-code-slash"></i>

            <h3>Front-end</h3>
            <p>
                I work with css,animations style sheet etc
            </p>
            <p class="text-primary header">
                Stack:
            </p>
            <p>

                Vue, Blazor, React
            </p>
            <p class="text-primary header">
                Experience:
            </p>
            <ul>
                <li>Web APIS</li>
                <li>ASP.Net Core MVC</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries</li>
                <li>SOLID</li>
            </ul>
        </div>

    </div>
</div>