@model HomeIndexViewModel;

@{
    ViewData["Title"] = "Home Page";
   

}


<h2>Example</h2>
<div>
    Guid Transitory: <b style="color: red">@Model.ExampleGUI.Transitory </b>
</div>
<div>
    Guid Delimited: <b style="color: green">@Model.ExampleGUI.Delimited </b>
</div>
<div>
    Guid Unique: <b style="color: blue">@Model.ExampleGUI.Unique </b>
</div>

<partial name="_presentation" />

<partial name="_skills" />

<partial name="_proyects"  model="Model.Proyects" />