@model IEnumerable<Proyect>
@{
    ViewData["Tittle"] = "Proyects";
}
<div class="container"> 
    <h1>My Proyects</h1>
    <p>Here's all my proyects</p>

</div>
    
<partial name="_ListProyect" model="Model" />
