
@{
   ViewData["Title"] = "Thanks";
}

<div>
    <h1>Thanks</h1>
    <p>
        Thanks for contact me,
        I will be in touch with you soon.
    </p>
</div>
<div>
    <a asp-action="Index" asp-controller="Home" >Back to Home</a>
</div>
